
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body class="text-center">

<<<<<<< HEAD
=======
  <button onclick="window.location.href='/create';" class="btn btn-primary mb-3">Create A Product</button>

>>>>>>> b721722 (15/1)
<div class="data-content">
<table class="table table-striped">
    <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% if(product.length > 0) { %>
<% product.forEach(data => { %>
  
  <tr>
    <td><%= data.name %></td>
    <td><%= data.price %></td>
  </tr>
  
<% }) %>
<% } %>
</table>
</div>
</body>

<%- include('../partials/footer.ejs') %>